.container {
  max-width: 1300px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  z-index: 10;
}

.bg-primary {
  background-color: purple;
  background-color: #212F32;
  background-color: #003A5C;
  color: white;
}

.text-primary {
  color: #003A5C;
}

.text-primary-light {
  color: #077abcf2;
}